[user]
	name = {{ .name }}
	email = {{ .email }}

[init]
	defaultBranch = main

[core]
	editor = nvim
	autocrlf = input
{{ if contains "microsoft" (lower .chezmoi.kernel.osrelease) }}	pager = less -qR
{{ end }}
[pull]
	rebase = false

[color]
	ui = auto
